<!-- your html code here -->
<div class="container d-flex">
    <div>
        <h2>
            <bold>This First Heading</bold> Will Catch Your Eye
        </h2>
        <h3>
            Donec ullamcorper nulla non metus auctor fringilia. Vestibulum id kigula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectrur. Fusce dapibus, tellus ac cursus commodo
        </h3>
    </div>

    
    <img src="./assets/img/1.jpg" alt="One Page Wonder" class="rounded-circle rounded-1" width="50%">
</div>