<!-- your html code here -->
<div>
    <p>
        This First Heading
    </p>
    <p>
        Will Catch Your Eye
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
    optio, eaque rerum! Provident similique accusantium nemo autem.
    </p>
    <img src="https://academiaurso.files.wordpress.com/2016/07/generalc3adsimo-francisco-de-miranda.jpg" alt="Fco de Miranda">
    </img>
</div>
       