<!-- your html code here -->
<div>
    <p>
        Portfolio
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
        numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
        optio, eaque rerum! Provident similique accusantium nemo autem.
    </p>
    <div>
        <!-- Primera carta -->
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://w0.peakpx.com/wallpaper/835/242/HD-wallpaper-stormtrooper-art-black-gun-shoot-star-wars-weapon.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
            </div>
          </div>
          <!-- Segunda carta -->
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://i.pinimg.com/originals/26/5c/0d/265c0d87f609969545f7b40317e7c473.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             
            </div>
          </div>
          <!-- Tercera carta -->
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1fdac0a4-d5e9-4cb1-830c-d2569a6abc86/d2d4jfd-410b3e34-7ab8-4622-adce-37e83948134b.jpg/v1/fill/w_500,h_557,q_75,strp/cad_bane_by_evolvana_d2d4jfd-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTU3IiwicGF0aCI6IlwvZlwvMWZkYWMwYTQtZDVlOS00Y2IxLTgzMGMtZDI1NjlhNmFiYzg2XC9kMmQ0amZkLTQxMGIzZTM0LTdhYjgtNDYyMi1hZGNlLTM3ZTgzOTQ4MTM0Yi5qcGciLCJ3aWR0aCI6Ijw9NTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.P-b7mcq7OfQPqM2x-EIPg0aYNsys6pjd9swQw_U_ox4" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          
            </div>
          </div>
    </div>

</div>