<!-- your html code here -->
<div class="bg-white p-5 ">
<h1>Portfolio</h1>
<br>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, animi explicabo, nihil aspernatur quae vel, voluptatum voluptatibus necessitatibus commodi fugiat aliquid natus quos optio adipisci dicta consectetur debitis itaque quod!
</p>
<br>
<div class="row flex-fill">
<div class="card m-2; p-2; flex-fill border border-white" style=" width: 300px;">
    <img src="./assets/img/big-project-image.png" class="img-thumbnail" alt="...">
    <div class="card-body">
      <h5 class="text-info">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quae illum aliquam facilis iure quisquam minus explicabo deserunt voluptate! Sapiente sint fugiat sed vel nulla eligendi voluptates doloribus tenetur laboriosam!</p>
    </div>
  </div>

<div class="card m-2; p-2; flex-fill border border-white" style=" width: 300px;">
    <img src="./assets/img/big-project-image.png" class="img-thumbnail" alt="...">
    <div class="card-body">
      <h5 class="text-info">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis quis sint sit? Soluta repellendus deserunt veniam nulla. Commodi facilis reiciendis velit quas quisquam, odio ipsa vero cumque maxime quidem libero.</p>
    </div>
  </div>

<div class="card m-2; p-2; flex-fill border border-white" style=" width: 300px;">
    <img src="./assets/img/big-project-image.png" class="img-thumbnail" alt="...">
    <div class="card-body">
      <h5 class="text-info">Project Name</h5>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam tempora unde dolorum sequi delectus molestias officia quod consequatur, deleniti illum, quisquam qui sunt! Placeat eos in molestias quaerat! Illo, magnam.</p>
    </div>
  </div>



</div>
</div>