<!-- your html code here -->
<div class="services">
    <img src="https://64.media.tumblr.com/53a1ec1e4f8212f7e90f3beb7662d9d3/tumblr_nw0ro7JclB1rgq3f4o1_1280.jpg" width="400px" height="400px" class="rounded-circle" alt="Emperator pic">
    </img>
    <div class="text-services">
            <h2>
                <strong>The Second Heading</strong> Is Pretty Cool Too.
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                optio, eaque rerum! Provident similique accusantium nemo autem.
            </p>
    </div>
       
</div>
